
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Scrollbar Styles */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4addbf #f0f0f0; /* Thumb and track colors */
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

*::-webkit-scrollbar-thumb {
  background-color: #4addbf; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3c9f99; /* Thumb hover color */
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
}

@layer utilities {
  * {   --tw-clip-polygon: var(--tw-clip-polygon-a), var(--tw-clip-polygon-b), var(--tw-clip-polygon-c), var(--tw-clip-polygon-d);
  --tw-clip-polygon-a: 0 0;
  --tw-clip-polygon-b: 100% 0;
  --tw-clip-polygon-c: 100% 100%;
  --tw-clip-polygon-d: 0 100%;
  }

  .clip.polygon.a-3 {
    --tw-clip-polygon-a: 0 2.25rem;
  }

  .clip.polygon.b-3 {
    --tw-clip-polygon-b: 100% 2.25rem;
  }

  .clip.polygon.c-3 {
    --tw-clip-polygon-c: 100% calc(100% - 2.25rem);
  }

  .clip.polygon.d-3 {
    --tw-clip-polygon-d: 0 calc(100% - 2.25rem);
  }

  .clip.polygon {
    clip-path: polygon(var(--tw-clip-polygon));
  }
}